/* 
Background: #F2F2F2 (Very Light Gray)
Primary: #4A4A4A (Charcoal Gray)
Secondary: #D9D9D9 (Soft Gray for buttons)
Accent: #3498DB (Muted Blue for operators)

Background: #1E1E1E (Near Black)
Primary: #EAEAEA (Light Gray for text)
Secondary: #333333 (Dark Gray for buttons)
Accent: #FF9500 (Bright Orange for operators)
*/
:root {
  --color-bg: #1e1e1e;
  --color-primary: #eaeaea;
  --color-secondary: #333333;
  --color-secondary-shade: #222222;
  --color-accent: #ff9500;
  --color-accent-shade: #e68600;
  --color-text: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-display: swap;
  line-height: 1;
  font-weight: 500;
  background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
  background-size: 400%;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  animation: bg-animation 5s infinite alternate ease-in-out;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.calculator {
  width: min(90vw, 40rem);
  height: auto;
  background-color: var(--color-bg);
  margin-top: 30%;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  display: grid;
  row-gap: 3rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.screen {
  background-color: var(--color-bg);
  width: 100%;
  height: 15rem;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.screen-filter {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  backdrop-filter: brightness(100%);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  border: 5px solid var(--color-bg);
}

.screen-equation {
  font-size: 1rem;
}

.screen-input {
  font-size: 7.4rem;
  align-self: flex-end;
}

.screen-error {
  font-size: 10rem;
  text-transform: uppercase;
  align-self: end;
  margin-left: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.btn {
  font-size: 2.4rem;
  color: var(--color-primary);
  width: 100%;
  height: 8rem;
  border-radius: 15px;
  background-color: var(--color-secondary);
  border: none;
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);

  transition: all 0.1s;
}
.btn:active {
  background-color: var(--color-secondary-shade);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(0.97);
}

.btn-lg {
  grid-column: 3/-1;
  background-color: var(--color-accent);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
.btn-lg:active {
  background-color: var(--color-accent-shade);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(0.97);
}
